.nav {
    background: white;
    display: flex;
    justify-content: space-between;
}

.nav img:nth-child(1) {
    width: 400px;
    height: 85px  
}

a {
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto Slab;
    font-weight: 500;
    color: black;
}

.nav img:nth-child(2) {
    width: 2px;
    height: 8px  
}

/* applies to all images */
/* nav > img {
    width: 50;
    height: 100;
} */

